<form>
<label for="name"><b>Name</b></label>
<input type="text" id="name"><br>
<br>

<label for ="sex"><b>Sex</b></label>
<input type="radio" name="sex" value="male">Male
<input type="radio" name="sex" value="female">Female<br>
</form>